<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caycanh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Frame.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CayCanh"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Frame.show_information.ShowInforProductActivity"
            android:exported="true" />
        <activity android:name=".Frame.activity.TimKiem"></activity>
        <activity android:name=".Frame.activity.GioHang" />
        <activity android:name=".Frame.activity.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>